.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 80px;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding-bottom: 35px;
}

.image-wrapper {
  height: 100%;
  margin: 15px;
  display: flex;
  align-items: center;
}

.logo-camera {
  font-size: 3rem;
  border-right: 1px solid grey;
  margin: 0 15px;
  padding-right: 15px;
}

.logo-image {
  height: 80%;
  padding-top: 15px;
}

.social-wrapper {
  display: flex;
  justify-content: space-around;
  width: 15%;
  padding-top: 15px;
}

.social {
  width: 20px;
  height: 20px;
  font-size: 2rem;
}

.search {
  padding-top: 20px;
}

input {
  border: 1px solid lightgray;
  background-color: rgb(240, 240, 240);
  color: black;
  width: 275px;
  height: 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
