@import "./components/Header/Header.scss";
@import "./components/SearchBar/SearchBar.scss";
@import "./components/PostContainer/PostContainer.scss";
@import "./components/CommentSection/CommentSection.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}
