.postContainer {
  width: 880px;
  display: flex;
  flex-direction: column;
  margin: 4% 8%;
  border: 1px solid lightgray;
  padding: 2% 0;
}
.user {
  font-size: 1.6rem;
  display: flex;
  margin-bottom: 15px;
}
.profilePic {
  background-color: grey;
  width: 30px;
  border-radius: 14px;
  height: 30px;
  margin: 0 15px;
  color: grey;
}
.profileName {
  padding-top: 3px;
}
.photo {
  background-color: green;
  width: 100%;
  height: 400px;
}
